@import "vars";
@import "libs";
@import "fonts";
@import "global";

.sub-header {
  background-color: #FBFBFB;
}
.sub-header__info {
  display: flex;
  justify-content: flex-end;
  .sub-header__list {
    display: flex;
    .sub-header__list-item {
      margin: 15px 0px 15px 58px;
      a:hover {
        color: $red;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.footer-logo,
.header-logo { 
  font-size: 30px;
  line-height: 37px;
  .footer-logo__text,
  .header-logo__text {
    font-family: 'Gilroy-ExtraBold';
  }
}

.search {
  margin-left: 100px;
}
.search-form {
  border: none;
  border-bottom: 1px solid #2F4858;
}
.btn-product__porular,
.btn-product__new, 
.search-form:focus {
  outline-style: none;
}

.contact-list {
  display: flex;
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 140%;
  .contact-list__number {
    margin-left: 50px;
    margin-top: 20px;
   
  }
}

.menu {
  margin-left: 15px;
  .btn-catalog {
    border: none;
    background-color: #FFF;
    outline-style: none;
    cursor: pointer;
  }
}
.menu-line {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: $red;
  display: inline-block;
  margin-right: 15px;
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $red;
    top: -14px;
    right: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $red;
    top: -7px;
    right: 0;
  }
}

.menu-text {
  font-family: 'Gilroy-SemiBold';
  font-size: 24px;
  line-height: 29px;
  color: $red;
}


.nav {
  display: none;
}
.nav.open{
 
  display: block;
}

.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 21px;
}
.nav-list {
  display: flex;
  .nav-list__item {
    margin-left: 40px;
    .nav-list__item-link:hover {
      padding-bottom: 10px;
      color: $red;
      border-bottom: 5px solid $red;
      border-radius: 2px;
    }
  }
}
.banner {
  height: 550px;
    background-image: url(../img/kredit.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-bg {
  background: linear-gradient(bottom, #DFDFDF, #F5F5F5);
  box-shadow: 0px 4px 4px rgba(253, 253, 253, 0.25);
  height: 550px;
  
}


.banner-slider___auto {
  padding-top: 110px;
  padding-bottom: 177px; 
 
  .banner-slider___auto-title {
    font-family: 'Gilroy-ExtraBold';
    font-size: 66px;
    line-height: 112%;
    margin: 0;
    max-width: 517px;
    
  }
  .banner-slider___auto-text {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
    
  }
}
.banner-slider___auto-link {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: $red;
  padding: 20px 34px;
  border-radius: 7px;
}

.slider-content {
  display: flex;  
  justify-content: space-between;
}


.slider-content__text {
animation: text 3s;
}
@keyframes text {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}


.img-car {
animation: car 3s;
}
@keyframes car {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}

.banner-slider___auto.partnership {
  .banner-slider___auto-link {
    color: #000;
    background-color: rgb(250, 230, 46);
  }
  .banner-slider___auto-text {
        color: #fff;
        font-size: 52px;
        line-height: 69px;
        max-width: 394px;
        margin-top: -40px;
  }
}


.slick-dots {
  display: flex;
  margin-left: 200px;
    margin-top: 30px;
   li {
     margin-right: 34px;
     button {
      font-size: 0;
      width: 6px;
      height: 12px; 
      border-radius: 12px;
      background-color: #C4C4C4;
      border: none;
      outline-style: none;
      cursor: pointer;
     }
   }
    li.slick-active {
      button { 
        width: 20px;
        height: 20px; 
        border-radius: 50%;
        background-color: $red;
        
       }
      
    }
}
.btn-item,
.btn-product {
display: flex;
justify-content: center;
margin-top: 80px;
cursor: pointer;
}

.btn-product__new ,
.btn-item__application{
  background: none;
  border: none;
  font-family: 'Gilroy-Bold';
  font-size: 24px;
  line-height: 29px;
  margin-right: 164px;
  color: #2F4858;
  outline-style: none;
  cursor: pointer;
}
.btn-product__new.color,
.btn-item__application.color {
  color: $red;
  border-bottom: 5px solid $red;
  padding-bottom: 10px;
}
.btn-product__porular,
.btn-item__characteristic{
  border: none;
  padding-bottom: 10px;
  background: none;
  color: $red;
  border-bottom: 5px solid $red;
  padding-bottom: 10px;
  outline-style: none;
  font-family: 'Gilroy-Bold';
  font-size: 24px;
  line-height: 29px;
  margin-right: 164px;
  cursor: pointer;
}
.btn-product__porular.color,
.btn-item__characteristic.color {
  border: none;
  color: #2F4858;
}


.new-slider {
  display: none;
}
.new-slider,
.product-slider {
  margin-top: 100px;
}
.new-slider__item,
.product-slider__item {
  max-width: 128px;
  max-height: 386px;
  text-align: center;
  margin-left: 18px;
  img {
    margin-left: 20px;
    margin-top: 17px;
  }
  img:hover {
    transform: scale(1.1) rotate(12deg);
    transition-duration: .4s;

  }
  .new-slider__item-name,
  .product-slider__item-name {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 140%;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  .new-slider__item-volume,
  .product-slider__item-volume {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 140%;
    color: $red;
  }
}
.new-slider,
.product-slider { 
  .slick-dots{
    justify-content: center;
    margin-top: 80px;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.autochemistry {
  background-image: url(../img/bgauto.svg);
  min-width: 583px;
  min-height: 361px;
  position: relative;
  margin-right: 30px;
  img {
    position: absolute;
    bottom: 15px;
    right: 16px;
    /* margin: -70px 0px 18px 180px; */
  }
  .autochemistry-title {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    max-width: 219px;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
  }
}
.paint {
  background-image: url(../img/bgcolor.svg);
  background-repeat: no-repeat;
  min-height: 361px;
  min-width: 583px;
  position: relative;
  img {
    position: absolute;
    top: 32px;
    /* margin: -70px 0px 18px 180px; */
  }
  .paint-title {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    max-width: 205px;;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
  }
}
.equipment{
  background-image: url(../img/bgequip.svg);
  background-repeat: no-repeat;
  min-height: 361px;
  position: relative;
  min-width: 583px;
  margin-right: 30px;
  margin-top: 30px;
  img {
    position: absolute;
    bottom: 15px;
    left: 197px;
    /* margin: -70px 0px 18px 180px; */
  }
  .equipment-title {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    max-width: 219px;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
  }
}
.semis {
  background-image: url(../img/bgsemi.svg);
  background-repeat: no-repeat;
  min-height: 361px;
  min-width: 583px;
  position: relative;
  margin-top: 30px;
  
  .ball {
    position: absolute;
    bottom: 10px;
    left: 285px;

  }
  img {
    position: absolute;
    left: 107px;
    bottom: 80px;
  } 
  .semis-title {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    max-width: 219px;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
  }
}
.artical-title {
  font-family: 'Gilroy-Bold';
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  margin-top: 120px;
  margin-bottom: 50px;
}
.mosbild {
  display: flex;
  .mosbild-img {
    margin-right: 35px;
  }
}
.mosbild-content {
  margin-top: 14px;
  .mosbild-title {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 140%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .mosbild-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  .mosbild-btn {
    border: none;
    background: none;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 21px;
    color: $red;
  }
}
.data {
  font-size: 16px;
  line-height: 19px;
  color: #888888;
  margin-right: 15px;
}
.advice,
.blog {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #00A0AA;
  border-radius: 3px;
  padding: 6px 12px;
}
.advice {
  background-color: $red;
}

.artical-block {
  display: flex;
  justify-content: space-between;
}

.artical-block__item {
  margin-top: 30px;
  max-width: 384px;
  .artical-block__item-text {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 140%;
  }
  img {
    
    margin-bottom: 15px;
  }
}
.artical-block__item:nth-child(1) {
  max-width: 360px;
}
.artical-block__item:nth-child(2) {
  margin-right: 25px;
}

.artical-btn {
display: flex;
justify-content: center;
margin-top: 60px;
}
.btn {
  border: none;
  background-color: $red;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
  padding: 20px 34px;
  border-radius: 7px;
  outline-style: none;
  margin-top: 60px;
}
.btn:hover {
  background-color: white;
  border: 2px solid $red;
  color: $red;
}
.footer-shadow {
  box-shadow: 0px -1px 6px rgba(21, 21, 21, 0.1);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  /* border-bottom: 1px solid #C4C4C4; */
  
}

.footer-logo {
  margin-top: 40px;
}

.info-nav__title,
.product-nav__title {
  font-family: 'Gilroy-Bold';
  font-size: 20px;
  line-height: 24px;
}
.info-nav__list-item,
.product-nav__list-item {

  margin-top: 10px;
  a {
  font-size: 16px;
  line-height: 19px;
  }
  a:hover {
    color: $red;
  }
}
.product-nav__list-item:nth-child(5)  {
  margin-top: 15px; 
  font-family: 'Gilroy-Bold';
}

.contact-footer {
margin-top: 40px;
}
.contact-footer__list-number {
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}
.footer-sup {
  border-top: 1px solid #C4C4C4;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  margin-top: 45px;
}
.footer-sup.color {
  border-top: 1px solid red;
}
.breadcrumb-autochemistry,
.breadcrumb {
  display: flex;
  
}
 

.breadcrumb-item__autochemistry,
.breadcrumb-item {
 display: none;
  a {
    font-size: 12px;
    line-height: 14px;
    color: #888888;
    margin-right: 10px;
    
    &::after {
      content: "\/";
      margin-left: 10px;
    }
  }
}
.breadcrumb-item__autochemistry {
  display: block;
}
.breadcrumb-item.open:nth-child(1) {
  display: block;
}
.breadcrumb-item.open:nth-child(2) {
  display: block;
}



/* autochemistry-catalog */
.about-title,
.semi-catalog__title,
.equipments-catalog__title,
.paintwork-catalog__title,
.autochemistry-catalog__title {
  text-align: left;
  font-family: 'Gilroy-Bold';
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-top: 30px;
}

.block__title {
  font-family: 'Gilroy-Bold';
  font-size: 28px;
  line-height: 29px;
  position: relative;
  margin-left: 20px;
  &::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 54px;
    background: #E53935;
    border-radius: 6px;
    left: -20px;
    top: -10px;
  
  }
}
.block__title.paintwork {
    &::before {
    
    background: #00A0AA;
}

}

.block__title.equipments {
  &::before {
  
  background: #00A26A;
}
}
.block__title.semi {
  &::before {
  
  background: #FF8A43;
}

}
.semi-catalog__content,
.equipments-catalog__content,
.paintwork-catalog__content,
.autocosmetics-block,
.autochemistry-catalog__content {
  display: flex;
  .semi-catalog__content-text,
  .equipments-catalog__content-text,
  .paintwork-catalog__content-text,
  .autochemistry-catalog__content-text {
    font-size: 16px;
    line-height: 140%;
  }
  
  .autochemistry-catalog__content-text::nth-child(1) {
    margin-right: 60px;
  }
 
}
.paintwork-catalog__content-text::nth-child(1) {
  margin-right: 60px;
}
.semi-block,
.equipments-block,
.paintwork-block,
.autocosmetics-block,
.autochemistry-block {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #EDEDED;
  margin-top: 40px;
}

.autochemistry-block__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 120px;
  font-weight: 600;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 140%;
  margin-top: 60px;
  margin-right: 50px;
  padding: 15px 0;  
  .autochemistry-block__item-for {
    margin-top: 18px;
    margin-bottom: 5px;
  }
  .autochemistry-block__item-name {
    margin-top: 0;
  }
  .about-link {
    background-color: $red;
    color: #FFF;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
  }
 
}


.paintwork-block__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 120px;
  font-weight: 600;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 140%;
  margin-top: 60px;
  margin-right: 50px;
  padding: 15px 0; 
  .paintwork-block__item-for{
    margin-top: 18px;
    margin-bottom: 5px;
  }
  .paintwork-block__item-name {
    margin-top: 0;
  }
  .about-link {
    background-color: #00A0AA;
    color: #FFF;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
  }
}

.equipments-block__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 120px;
  font-weight: 600;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 140%;
  margin-top: 60px;
  margin-right: 50px;
  padding: 15px 0; 
  .equipments-block__item-for{
    margin-top: 18px;
    margin-bottom: 5px;
  }
  .equipments-block__item-name {
    margin-top: 0;
  }
  .about-link {
    background-color: #00A26A;
    color: #FFF;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
  }
}

.semi-block__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 120px;
  font-weight: 600;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 140%;
  margin-top: 60px;
  margin-right: 50px;
  padding: 15px 0; 
  .semi-block__item-for{
    margin-top: 18px;
    margin-bottom: 5px;
  }
  .semi-block__item-name {
    margin-top: 0;
  }
  .about-link {
    background-color: #FF8A43;
    color: #FFF;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
  }
}

.semi-block__item:hover {
  transform: scale(1.2);
  transition-duration: .4s;
  box-shadow: 0px -1px 6px rgba(21, 21, 21, 0.1);
  .about-link {
    background-color: #FFF;
    border: 1px solid  #FF8A43;
    color:  #FF8A43;
    transition-duration: .4s;
  }
  
}

.autochemistry-block__item:hover {
  transform: scale(1.2);
  transition-duration: .4s;
  box-shadow: 0px -1px 6px rgba(21, 21, 21, 0.1);
  .about-link {
    background-color: #FFF;
    border: 1px solid $red;
    color: $red;
    transition-duration: .4s;
  }
  
}

.paintwork-block__item:hover {
  transform: scale(1.2);
  transition-duration: .4s;
  box-shadow: 0px -1px 6px rgba(21, 21, 21, 0.1);
  .about-link {
    background-color: #FFF;
    border: 1px solid #00A0AA;
    color: #00A0AA;
    transition-duration: .4s;
  }
}

.equipments-block__item:hover {
  transform: scale(1.2);
  transition-duration: .4s;
  box-shadow: 0px -1px 6px rgba(21, 21, 21, 0.1);
  .about-link {
    background-color: #FFF;
    border: 1px solid #00A26A;
    color: #00A26A;
    transition-duration: .4s;
  }
}

.paintwork-catalog,
.autocosmetics-catalog {
  margin-top: 100px;
}
.paintwork-catalog__title {
  margin-top: 0;
}





/* ABOUT */

.about {
  display: flex;
  justify-content: space-between;
}
.about-advantage {
  display: flex;
  flex-direction: column;
  .about-advantage__item {
    max-width: 320px;
    margin-top: 57px;
    border-bottom: 2px solid #DFDFDF;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 65px;
      height: 2px;
      background-color: #DFDFDF;
      bottom: -14px;
      right: -62px;
      transform: rotate(22deg);
      border-bottom-left-radius: 10px;
    }
    .about-advantage__title {
      position: relative;
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 29px;
      display: inline-block;
       margin-bottom: 14px;
      &::before {
        position: absolute;
        content: url(../img/about-img/surface1.png);
        top: -6px;
        left: -57px;
      }
    }
   

    
    .about-advantage__text{
      font-size: 16px;
      line-height: 140%;
    }
  }
}

.about-advantage:nth-child(1) {
  margin-left: 60px;
}
.about-advantage__img {
  transform: rotate(-11deg);
  margin-top: 35px;
}
.about-advantage__img.scroll{
  transform: rotate(8deg);
  transition-duration: .9s;
  

}

.about-advantage__item.leader  { 
  &::after {
    bottom: 10px;
    right: -62px;
    transform: rotate(-22deg);
    border-bottom-left-radius: 3px;
  }
  .about-advantage__title{
    border-bottom-right-radius: 3px;
      &::before {
        content: url(../img/about-img/surface2.png);
    }
    }
  }
  .about-advantage__item.assortment { 
    border-bottom-right-radius: 3px;
    &::after {
      bottom: 10px;
      right: -62px;
      transform: rotate(-22deg);
      border-bottom-left-radius: 3px;
    }
    .about-advantage__title {
      &::before {
        content: url(../img/about-img/surface3.png);
    }
  }
}
.about-advantage__item.scope { 
  border-bottom-right-radius: 3px;
  &::after {
    bottom: -14px;
    left: -62px;
    transform: rotate(-22deg);
    border-bottom-left-radius: 3px;
  }
  .about-advantage__title {
    &::before {
      content: url(../img/about-img/surface4.png);
    }
  } 
}
.about-advantage__item.size { 
  border-bottom-right-radius: 3px;
  &::after {
    bottom: 10px;
    left: -62px;
    transform: rotate(22deg);
    border-bottom-left-radius: 3px;
  }
  .about-advantage__title {
    &::before {
      content: url(../img/about-img/surface5.png);
    }
  } 
}    
.about-advantage__item.reputation { 
  border-bottom-right-radius: 3px;
  &::after {
    bottom: 10px;
    left: -62px;
    transform: rotate(22deg);
    border-bottom-left-radius: 3px;
  }
  .about-advantage__title {
    &::before {
      content: url(../img/about-img/surface6.png);
    }
   }
}
.about-advantage.scroll {
  .about-advantage__item {
    border-color: $red;
    transition-duration: 4s;
    &::after{ 
      background-color: $red;
      transition-duration: 4s;
    }
    
  }
  
}
.about-advantage__img.scroll{
  transform: rotate(8deg);
  transition-duration: 2s;
}




/* CONTACTS */

.contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.contacts-info__address {
  position: relative;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  &::before {
    position: absolute;
    content: url(../img/contacts-img/local.png);
    left: -40px;
    top: -8px;

  }
}
.contacts-info__department {
  margin-top: 60px;
  margin-bottom: 10px;
}
.contacts-info__sales-number {
  margin-top: 0;
  position: relative;
  &::before {
    position: absolute;
    content: url(../img/contacts-img/number.png);
    left: -40px;
    top: -6px;
  }
}
.contacts-info__sales-name {
  margin-bottom: 7px;
}
.contacts-map {
  background-image: url(../img/contacts-img/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 835px;
  height: 600px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field {
  border: 1px solid #D9D8D8;
  border-radius: 7px;
  height: 45px;
  width: 400px;
  color: #2F4858;
  font-size: 16px;
}
.form-field:hover {
  color: $red;
  background-color: none;
}
.form-field:active{
  color: $red;
  background-color: none;
}
.form-areatext {
  border: 1px solid #D9D8D8;
  border-radius: 7px;
  width: 400px;
  overflow: auto;
	resize: none;
}
.form-btn {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: $red;
  border-radius: 7px;
  border: none;
  padding: 20px 60px;
  margin-top: 27px;
  margin-left: 90px;

}
.form-title {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.form-text {
  font-size: 16px;
  line-height: 131.99%;
  margin-bottom: 15px;
}


/* NEWS */


.news {
  .mosbild {
    margin-bottom: 30px;
  }
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.btn-list__item {
  margin-right: 5px;
  button {
    width: 40px;
    height: 40px;
    border: 1px solid #2F4858;
    border-radius: 4px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    outline-style: none;
    cursor: pointer;
  }
  button:active {
    color: #FFF;
    border: 1px solid $red;
    background-color: $red;
  }
}
.btn-list__item.right,
.btn-list__item.left {
  margin-right: 35px;
  margin-left: 35px;
  button {
    background-color: $red;
    border: none;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.btn-list__item.right {
  button {
    background-image: url(../img/right.png);
  }
}



/* PASTNERSHIP */


.partnership {

  margin-top: 40px;
  a { 
    font-family: 'Gilroy-Bold';
  }
  .partnership-title {
   margin-top: 50px;
  }
}
.partnership-list {
  margin-top: 40px;
  margin-bottom: 100px;
  .partnership-list__item{
    margin-top: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $red;
      left: -20px;
      top: 4px;
      border-radius: 10px;
    }
  
  }

}


/* ITEM-CATALOG */

.item {
  display: flex;
  justify-content: space-between;
}
.item-img {
  width: 515px;
  display: grid;
  justify-items: center;
  margin-top: 60px;
}
.item-about {
  max-width: 640px;
  .item-title {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 140%;
  }
  .item-article {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #888;
  }
  .item-suptitle {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 19px;
  }
  .item-text {
    font-size: 16px;
    line-height: 140%;
  }
  .item-list__color {
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 140%;
    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #E53935;
      left: -20px;
      top: 4px;
      border-radius: 10px;
    }
  }
  .item-color {
    display: flex;
    .item-color__box-white {
      width: 60px;
      height: 60px;
      background-color: #FEC10D;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
    }
  }

  .item-color__box {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-right: 20px;
  }
  .item-color__box:nth-child(2) {
    .item-color__box-white {
      background-color: #000;
    }
 }
 .item-color__box:nth-child(3) {
  .item-color__box-white {
    background-color: #fff;
  }
}
.item-color__box:nth-child(4) {
  .item-color__box-white {
    background-color: #4E3316;
    margin-left: 10px;
  }
}
.item-color__box:nth-child(5) {
  .item-color__box-white {
    background-color: #B80D09;
  }
}
.item-color__box:nth-child(6) {
  .item-color__box-white {
    background-color: #60646D;
  }
}
.item-color__title {
  margin-top: 40px;
  margin-bottom: 50px;
}
}
.item-color__box-title {
  display: inline-block;
  margin-top: 10px;
}

.item-characteristic {
margin-top: 60px;
}

.characteristic-title {
  font-family: 'Gilroy-Bold'; 
  font-size: 16px;
  line-height: 140%;
  width: 400px;
}
.item-characteristic__table {
 td {
   height: 50px;
   font-size: 16px;
  line-height: 140%;
  margin-left: 50px;
 }
 
}

tr:nth-child(odd) {
  background-color: #F9F9F9;
 }

 .recommended-item__title {
  font-family: 'Gilroy-Bold'; 
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 100px;
 }
.item-application {
  display: none;
  margin-top: 60px;
}
.item-application__list {
  margin-bottom: 40px;
}

.item-application__list-text {
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
   
    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #E53935;
      left: -20px;
      top: 4px;
      border-radius: 10px;
    }
  }
 .item-application__text {
  font-size: 16px;
  line-height: 140%;
 }
.warning-text {
  font-family: 'Gilroy-Bold'; 
  font-size: 16px;
  line-height: 140%;
  color: $red;
}

.artical-btn__views.item {

  margin-top: 70px;
}
/* .btn-item {
  display: flex;
  justify-content: center;
} */
.popup {
display: flex;
 justify-content: center;
}
.white-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: #FFF;
  .form-title_communication {
    font-family: 'Gilroy-Bold'; 
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 30px;
  }
  .form-text_communication {
    font-family: 'Gilroy-Bold'; 
    font-size: 18px;
    line-height: 29px;
    text-align: center;
  }
  .form-field__communication {
    margin-left: 70px;
    height: 50px;
    border-radius: 10px;
    outline-style: none;
    border: 1px solid #888;

  }
}
.form-field__communication:focus {
  border: 1px solid $red;
}
.form-btn.communication {
  font-size: 16px;
  padding: 15px 40px;
  margin-top: 45px;
  margin-left: 121px;
}
.mfp-wrap {
  
  left: 37%;
}
@import "media";


